<%= render "shared/header" %>
<h1 class="text-red">離乳食記録アプリ</h1>
<
<% if current_user.present? %>
  <%= link_to "お子さんを追加する", new_baby_path ,class: 'btn' %>

  <% @babies.each do |baby| %>
    <%= link_to baby.nickname, baby_path(baby.id) ,class: 'btn' %>
  <% end %>
<% end %>
<%= render "shared/footer" %>
